.blogTitle{
    margin: 1rem;
}
.blogImgContainer{
    position: relative;
    width: 100%;
    
}
.blogImage{
    width: 100%;
    height: auto;
}
.blogBody{
    margin: 2rem;
    font-size: 20px;
    margin-bottom: 5rem;
}
.backButton{
    position: absolute;
    z-index: 1;
    top: 10px; 
    left: 10px;
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 1rem;
}

@media only screen and (min-width: 600px) {
.blogImgContainer{

}
.blogImage{
    height: 50vh;
    object-fit: cover;
    border-radius: 0;
}
}